
/* Top Bar Section */
.social-media-icons{
	background: blue;
	color: white;
	height: 80px;
}
.search{
	background: red;
	height: 80px;
	color: white;
}

.main-menu ul li, .footer-menu ul li{ 
	display: inline;
}

.wp-post-image{
	float: left;
	margin: 0 15px 10px 0;
}

.blog article{
	display: inline-block;
}